version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: fanteract-mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: fanteract-db
    ports:
      - "3406:3306"
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - mysql-data:/var/lib/mysql
    restart: always

  app:
    image: fanteract-app:latest
    container_name: fanteract-app
    depends_on:
      - db
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/fanteract-db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: password
      JWT_SECRET: jwtsecretas78dg97d89we4hahsd89eqwhu4rtihweur489wtbakjwerbjka2q9it4
    ports:
      - "8080:8080"
    restart: always

volumes:
  mysql-data: